* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #1D1F22;
}

body {
  position: relative;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

header {
  height: 80px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list {
  display: flex;
  gap: 32px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

header ul li {
  cursor: pointer;
}

.header-active {
  font-weight: 600;
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
}

.currency-cart-container {
  display: flex;
  align-items: center;
  gap: 22px;
  cursor: pointer;
}

.currency-changer {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.currency-dropdown {
  position: absolute;
  top: 100%;
  left: -40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 100;
}

.currency-dropdown li {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 10px 40px 10px 20px;
  white-space: nowrap;
}

.currency-dropdown li:hover {
  background: #EEEEEE;
}

.cart-img {
  cursor: pointer;
}

.category-container {
  padding: 80px 100px;
}

.category-name {
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  text-transform: uppercase;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 100px;
}

.product {
  padding: 16px;
  position: relative;
}

.product:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.out-of-stock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #FFFFFF;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8D8F9A;
}

.product-img {
  height: 330px;
  width: 354px;
  margin-bottom: 24px;
}

.product-info {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.product-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.product-cart {
  position: absolute;
  bottom: 72px;
  right: 21px;
  width: 52px;
  height: 52px;
  background: #5ECE7B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-cart:hover {
  background-color: darkgreen;
}